@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #07111F;
  --primary: #FC4E00;
  --primary-dark: #e34500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-navy: #07111F;
  --color-orange: #FC4E00;
  --color-summer-blue: #0000CC;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #07111F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
